{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Все новости
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1>Все новости (всего: {{ news|length }})</h1>
    <hr>
    {% if news %}
        {% for post in news %}
        <div class="mb-4">
            <h3><a href="/news/{{ post.id }}">{{ post.title|censor }}</a></h3>
            <p class="text-muted"><small>Опубликовано: {{ post.created_at|date:"d.m.Y" }}</small></p>
            <p>{{ post.text|censor|truncatechars:20 }}</p>
            <hr>
        </div>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination" style="margin-top: 20px;">
            {% if page_obj.has_previous %}
                <a href="?page=1" style="margin-right: 10px;">« Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}" style="margin-right: 15px;">‹ Назад</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span style="margin-right: 10px;"><strong>{{ num }}</strong></span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}" style="margin-right: 10px;">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" style="margin-left: 5px; margin-right: 10px;">Вперед ›</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя »</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}